.sidebar-row{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.sidebarrow-icon{
    color: #606060;
    font-size: large !important;
}

.sidebarrow-title{
    flex: 1;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 500;
}

.sidebar-row:hover{
    background-color: lightgray;
    cursor: pointer;
}
.sidebar-row:hover >.sidebarrow-icon{
    color: red;
}
.sidebar-row:hover >.sidebarrow-title{
    font-weight: bold;
}
.sidebar-row.selected{
    background-color: lightgrey; 
}
.sidebar-row.selected >.sidebarrow-icon{
    color: red;
}
.sidebar-row.selected >.sidebarrow-title{
    font-weight: bold;
}